<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Base_Url_Without_Http</key>
	<string>$(Base_Url_Without_Http)</string>
	<key>Base_Url_Format</key>
	<string>$(Base_Url_Format)</string>
	<key>API_Base_URL</key>
	<string>$(API_Base_URL)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(App_Name)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>appcenter-567dc443-b978-4924-910c-37c20424a1ad</string>
				<string>msauth.com.youxel.cerqel</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>com.youxel.cerqel</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>deeplinksss</string>
                <string>cerqel</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CONTENT_Base_URL</key>
	<string>$(CONTENT_Base_URL)</string>
	<key>FileManager_Base_URL</key>
	<string>$(FileManager_Base_URL)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>msauthv2</string>
		<string>msauthv3</string>
		<string>fb</string>
		<string>amzn</string>
		<string>$(External_App_Name)</string>
		<string>kilolocossss</string>
		<string>ms-outlook</string>
		<string>msteams</string>
		<string>com.microsoft.Office.Outlook</string>
		<string>msauth</string>
		<string>figma</string>
		<string>ms-azure</string>
		<string>twitter</string>
		<string>googlegmail</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>Mocking_Base_URL</key>
	<string>$(Mocking_Base_URL)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>$(App_Name) Needs Access to Camera in order to pick  images</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Need to access location for weather details</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Need to access location for weather details</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(App_Name) Needs Access to Photo Library in order to select  images</string>
	<key>Notification_Base_URL</key>
	<string>$(Notification_Base_URL)</string>
	<key>Search_Base_URL</key>
	<string>$(Search_Base_URL)</string>
	<key>Self_Service_URL</key>
	<string>$(Self_Service_URL)</string>
	<key>Share_Link_URL</key>
	<string>$(Share_Link_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Thin.ttf</string>
		<string>Poppins-SemiBold.ttf</string>
		<string>Poppins-Regular.ttf</string>
		<string>Poppins-Medium.ttf</string>
		<string>Poppins-Light.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>SST Arabic Roman.ttf</string>
		<string>SST Arabic Light.ttf</string>
		<string>SST Arabic Medium.ttf</string>
		<string>SST Arabic Bold.ttf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>Launch</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>User_Manager_URL</key>
	<string>$(User_Manager_URL)</string>
	<key>X_IBM_Client_Id</key>
	<string>$(X_IBM_Client_Id)</string>
	<key>appCenterKey</key>
	<string>$(appCenterKey)</string>
	<key>client_id</key>
	<string>$(client_id)</string>
	<key>client_secret</key>
	<string>$(client_secret)</string>
	<key>encryptionKey</key>
	<string>$(encryptionKey)</string>
	<key>iv</key>
	<string>$(iv)</string>
	<key>notificationHubKey</key>
	<string>$(notificationHubKey)</string>
	<key>notificationHubKeyName</key>
	<string>$(notificationHubKeyName)</string>
	<key>notificationHubName</key>
	<string>$(notificationHubName)</string>
	<key>notificationHubNamespace</key>
	<string>$(notificationHubNamespace)</string>
</dict>
</plist>
