# Xcode
xcuserdata/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.DS_Store
timeline.xctimeline
playground.xcworkspace

# Build products
build/
DerivedData/
*.xcframework

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/

# Carthage
Carthage/Checkouts/
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/

# Temporary files
*.swp
*.lock
*.log
*.tmp

# User settings
*.xcuserdatad
*.moved-aside
*.orig
*.rej
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
